<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}KN City Logistik{% endblock title %}</title>
    {% endblock head %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if g.user %}
          <li><span>Nutzer: {{ g.user['username'] }}</span></li>
          <li><a href="{{ url_for('auth.logout') }}">Abmelden</a></li>
          <li><a href="{{ url_for('booking.reserve') }}">Reservieren</a></li>
          {% else %}
          <li><a href="{{ url_for('auth.register') }}">Registrieren</a></li>
          <li><a href="{{ url_for('auth.login') }}">Einloggen</a></li>
          {% endif %}
          <li><a href="{{ url_for('map.map') }}">Karte</a></li>
        </ul>
      </nav>
      <h1>KN City Logistik</h1>
    </header>
    <main>
      {% block main %}{% endblock main %}
    </main>
    <footer>
      <hr>
      {% block footer %}
      <p>
      Work in progress; interne Vorschau! &copy; Copyright 2024 by <a href="http://smart-green-city-konstanz.de/">Smart Green City Konstanz</a>.
      </p>
      {% endblock footer %}
    </footer>
  </body>
</html>

