{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock head %}

{% block title %}Karte - {{ super() }}{% endblock title %}

{% block main %}

{% include "flash.html" %}
<h2>Lieferzonen Karte</h2>
<div id="map"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='map.js') }}"></script>
{% endblock main %}
