{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{{ super() }}

<style>
  #map {
      height: 600px; /* Default height */
      width: 100%;  /* Default width */
  }

  /* Media query for smaller screens */
  @media (max-width: 600px) {
      #map {
        width: 108%;
          height: 500px; /* Adjust height as needed */
          margin-left: -15px;
          margin-right: -15px;
      }
  }
</style>
{% endblock head %}

{% block title %}Karte - {{ super() }}{% endblock title %}

{% block main %}

{% include "flash.html" %}
<h2>Lieferzonen Karte</h2>
<div id="map"></div>

{% endblock main %}

{% block bottom_js %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
  // Definiere die maximalen geografischen Grenzen
  var southWest = L.latLng(47.64572837458656, 9.121830875142173);
  var northEast = L.latLng(47.701997613815735, 9.225562804812528);
  var bounds = L.latLngBounds(southWest, northEast);

  var map = L.map('map', {
      center: [47.671, 9.181],  // Zentralpunkt innerhalb der Bounds
      zoom: 13,
      minZoom: 10,
      maxZoom: 18,
      maxBounds: bounds,
      maxBoundsViscosity: 1
  });
  map.fitBounds(bounds); //makes Spots on map always shown on map on init

  // Add a tile layer to the map (OpenStreetMap tiles)
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var coords
  var url
  var label
  {% for z in zones %}
  coords = [{{z.latitude}}, {{z.longitude}}];
  url = "{{url_for ('booking.form', zone_id = z.id)}}";
  label = "<b>Ladezone &#8222;{{z.name}}&#8220;</b><br><br>"
  {% if g.user %}
  label += `<a href=${url}>Zur Reservierung</a>`
  {% else %}
  label += "Reservierung möglich (nach Registrierung)"
  {% endif %}
  L.marker(coords).addTo(map).bindPopup(label)
  {% endfor %}
</script>
{% endblock bottom_js %}
