{% extends "base.html" %}

{% block head %}
  {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='toastui-calendar.min.css') }}">
    <script src="{{ url_for('static', filename='toastui-calendar.min.js') }}"></script>
{% endblock %}

{% block title %}Reservieren - {{ super() }}{% endblock title %}

{% block main %}

{% include "flash.html" %}

<div id="calendar" style="height: 600px;"></div>
<script src="{{ url_for('static', filename='preact.min.js') }}"></script>
<script src="{{ url_for('static', filename='tui-time-picker.js') }}"></script>
<script src="{{ url_for('static', filename='tui-date-picker.js') }}"></script>
<script src="{{ url_for('static', filename='calendar.js') }}"></script>

{% endblock main %}